<%-  include('includes/header') %>
            <div class="cont-frame-dp-dash">
                <div class="cont-regin-dash">
                    <div class="content-gen-dash">
                        <h2>Dashboard</h2>
                        <h3>General Info</h3>
                        <div class="control-project-fr">
                            <table class="table-date">
                                <thead>
                                    <tr>
                                        <th scope="col">#id</th>
                                        <th scope="col">Name Project</th>
                                        <th scope="col">Status Project</th>
                                        <th scope="col">*</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.forEach(function(row) { %>
                                        <tr>
                                            <th><%= row.id_project %></th>
                                            <td><%= row.name_project %></td>
                                            
                                            <td><%= row.name_project_status %></td>
                                            <td></td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="content-gen-dash-b">
                        <div class="cont-status-count-project">
                            <div class="frame-info-ddt">
                                <h3>All Project</h3>
                                
                                <span><%= countP %></span>
                            </div>
                            <div class="frame-info-ddt">
                                <img class="icon-page" src="/icon/layer_interface_icon.png" alt="">
                            </div>
                        </div>
                        <div class="cont-status-count-project">
                            <div class="frame-info-ddt">
                                <h3>All Task</h3>
                                <span><%= countTa %></span>
                            </div>
                            <div class="frame-info-ddt">
                                <img class="icon-page" src="/icon/list_task_tasklist_checklist_icon.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cont-regin-dash-b">
                    <div class="content-result-data-dash">
                        <h2>Info Task Progress</h2>
                        <table class="table-date">
                            <thead>
                                <tr>
                                    <th scope="col">Name Project</th>
                                    <th scope="col">Progress</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% estak.forEach(function(std) { %>
                                    <tr>
                                        <th><%= std.name_project %></th>
                                        <% if(std.TOTAL_TASK == 0){ %>
                                            <td>Has no Task</td>
                                        <% } else { %>
                                            <td><progress max="100" value="<%= ((std.TASK_COMPLETE * 100)/ std.TOTAL_TASK ) %>"></progress><%= (((std.TASK_COMPLETE * 100)/ std.TOTAL_TASK )).toFixed(1) %>%</td>
                                        <% } %>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
<%- include('includes/footer') %>