<%-  include('includes/header') %>
            <div class="content-gen-dash">
                <h2>Edit Project</h2>
                <div class="content-frame-np">
                  <form action="/project/update-project" method="POST">
                    <% data.forEach(function(row) { %>
                    <input type="text" value="<%= row.name_project %>" placeholder="Name Project" name="nameProject"><br>
                    <input type="date" value="<%= row.date_initial_project %>" placeholder="Date Initial" name="dateInitial"><br>
                    <input type="date" value="<%= row.date_finish_project %>" placeholder="Date Finish" name="dateFinish"><br>
                    <textarea name="description" id=""><%= row.description_project %></textarea><br>
                    <input type="text" value="<%= row.name_project_status %>" placeholder="Date Finish" disabled><br>
                    <input type="hidden" value="<%= row.id_project %>" name="id_project">
                    <% }); %>
                    <button type="submit">Update</button>
                  </form>
                </div>
            </div>
            
<%- include('includes/footer') %>