<%-  include('includes/header') %>
            <div class="content-gen-dash">
                <h2 class="tt-add-task">Edit User</h2>
                <div class="content-frame-np">
                    <form class="form-add-tsk" action="/users/edit-info-user" method="post">
                        <% data.forEach(function(row) { %>
                        <label class="label-addtsk" for="">User Name</label>
                        <input type="text" class="form-control" value="<%= row.name_user %>" placeholder="Nombres" name="name" required>
                        <label class="label-addtsk" for="">User Last Name</label>
                        <input type="text" class="form-control" value="<%= row.lastname_user %>" placeholder="Apellidos" name="lastName" required>
                        <label class="label-addtsk" for="">User Email</label>
                        <input type="text" class="form-control" value="<%= row.email_user %>" placeholder="correo" name="email" required>
                        <input type="hidden" value="<%= row.id_user %>" name="id_user">
                        <% }); %>
                        <div class="ctn-btn-dd">
                            <button class="btn-add-task" type="submit">Update</button>
                          </div>
                    </form>
                </div>
                <div class="content-frame-np">
                    <h3>Edit Avatar</h3>
                    <form action="/users/update-avatar-user" method="post" enctype="multipart/form-data">
                        <input type="file" name="image">
                        <button type="submit">Change</button>
                        <!--
                        <img src="/uploads/1717306231823-kevin-casanada-comp-test7.jpg" alt="">-->
                    </form>
                    <div class="content-picture-avatar">
                        <% if(avt==null) { %>
                            <img class="avatar-user-fr" src="/img/avatar-default.jpg" alt="">
                        <% } else{ %>
                            <img class="avatar-user-fr" src="<%= avt %>" alt="">
                        <% } %>
                        
                    </div>
                </div>
            </div>
            
<%- include('includes/footer') %>