<%-  include('includes/header') %>
            <div class="content-gen-dash">
                <h2 class="tt-add-task">New Project</h2>
                <div class="content-frame-np">
                  <form class="form-add-tsk" action="/project/create-new-project" method="POST">
                    <input type="text" placeholder="Name Project" name="nameProject" required>
                    <label class="label-addtsk" for="">Initial Date</label>
                    <input type="date" placeholder="Date Initial" name="dateInitial" required>
                    <label class="label-addtsk" for="">Finished Date</label>
                    <input type="date" placeholder="Date Finish" name="dateFinish" required>
                    <label class="label-addtsk" for="">Description</label>
                    <textarea name="description" id="" required></textarea>
                    <label class="label-addtsk" for="">Status Project</label>
                    <select name="id_project_status" selected value>
                      <% data.forEach(function(row) { %>
                      <option value="<%= row.id_project_status %>"><%= row.name_project_status %></option>
                      <% }); %>
                    </select>
                    <input type="hidden" value="<%= user.id_user %>" name="id_user">
                    <div class="ctn-btn-dd">
                      <button class="btn-add-task" type="submit">create</button>
                    </div>
                  </form>
                </div>
                
            </div>
            
<%- include('includes/footer') %>