<%-  include('includes/header') %>
            <div class="content-gen-dash">
                <h2>Project Summary</h2>
                <div class="cont-info-project-a">
                    <h3>Project Info</h3>
                    <% data.forEach(function(row) { %>
                        <p><strong>Name Project:</strong> <%= row.name_project %></p><br>
                        <p><strong>Initial Date:</strong> <%= row.date_initial_project %></p><br>
                        <p><strong>Finish Date:</strong> <%= row.date_finish_project %></p><br>
                        <p><strong>Description Project:</strong> <%= row.description_project %></p><br>
                        <p><strong>Status Project:</strong> <%= row.name_project_status %></p><br>
                    <% }); %>
                    <p><strong>Project Manager:</strong> <%= user.name_user %>, <%= user.lastname_user %></p><br>
                </div>
                
                <div class="cont-info-project-a">
                    <h3>Project Team</h3>
                    <% dato.forEach(function(list) { %>
                        <div class="cont-pr-tm-bs">
                            <p><strong>Name Employee:</strong> <%= list.name_user %>, <%= list.lastname_user %></p><br>
                            <p><strong>Profession:</strong> <%= list.profession_user %></p><br>
                        </div>
                    <% }); %>
                </div>
                <div class="cont-res-ad-task">
                    <h3>Admin Task</h3>
                    <form action="/project/manage-task" method="POST">
                        <input type="hidden" value="<%= idProject %>" name="id_project">
                        <button class="btn-psumm" type="submit">Go</button>
                    </form>
                </div>
            </div>
            
<%- include('includes/footer') %>