<%-  include('includes/header') %>
            <div class="content-gen-dash">
                <h2>Users</h2>
                <h3>Users List</h3>
                <div class="control-project-fr">
                    <table class="table-date">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nam</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Profession</th>
                                <th scope="col">Actions</th>
                                <th scope="col">*</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.forEach(function(row){ %>
                                <tr>
                                    <th><%= row.id_user %></th>
                                    <td><%= row.name_user %></td>
                                    <td><%= row.lastname_user %></td>
                                    <td><%= row.email_user %></td>
                                    <td><%= row.name_role %></td>
                                    <td><%= row.profession_user %></td>
                                    <form action="">
                                        <td>
                                            <select name="options_user" selected value id="">
                                                <option value="0" >Delete</option>
                                                
                                            </select>
                                        </td>
                                        <td>
                                            <input type="hidden" value="<%= row.id_user %>" name="id_user">
                                            <button>Process</button>
                                        </td>
                                    </form>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="content-gen-dash-b">
                <div class="cont-status-count-project">
                    <a href="/users/new-user">Crear Usuario</a>
                    <a href="/users/category">Roles de Usuario</a>
                </div>
            </div>
<%- include('includes/footer') %>